<!DOCTYPE html>
<html lang="en">
<head>
  <title> tinyURL </title>
  <!-- Boostrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <center>
    <h1> URL Shortener  </h1>
    <h3> Create Shortened URL </h3>
    <div class ="form-group">
      <form>
        <br>
        <input type="text" name="LongURL" method="post">
        <input type="submit" value="Submit" class="btn btn-primary">
        <br>
      </form>
    </div>

  </center>

</body>
</html>
